<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kkadalip</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Osa1yl1</display-name>
    <servlet-name>Osa1yl1</servlet-name>
    <servlet-class>osa1.Osa1yl1</servlet-class>
  </servlet>
  <servlet>  	
	<display-name>Osa2yl1</display-name>
    <servlet-name>Osa2yl1</servlet-name>
    <servlet-class>osa2.Osa2yl1</servlet-class>
  </servlet>	
  <servlet>
	<display-name>Osa2yl2</display-name>
    <servlet-name>Osa2yl2</servlet-name>
    <servlet-class>osa2.Osa2yl2</servlet-class>
  </servlet>
  <servlet>  	
	<display-name>Osa2yl3</display-name>
    <servlet-name>Osa2yl3</servlet-name>
    <servlet-class>osa2.Osa2yl3</servlet-class>
  </servlet>
  <servlet>	
	<display-name>Praks1yl1</display-name>
    <servlet-name>Praks1yl1</servlet-name>
    <servlet-class>praks1.Praks1yl1</servlet-class>
  </servlet>
  <servlet>	
	<display-name>Praks1yl2</display-name>
    <servlet-name>Praks1yl2</servlet-name>
    <servlet-class>praks1.Praks1yl2</servlet-class>
  </servlet>
  <servlet>	
	<display-name>Praks1yl3</display-name>
    <servlet-name>Praks1yl3</servlet-name>
    <servlet-class>praks1.Praks1yl3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Osa1yl1</servlet-name>
    <url-pattern>/Osa1yl1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>	
	<servlet-name>Osa2yl1</servlet-name>
    <url-pattern>/Osa2yl1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>		
	<servlet-name>Osa2yl2</servlet-name>
    <url-pattern>/Osa2yl2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>		
	<servlet-name>Osa2yl3</servlet-name>
    <url-pattern>/Osa2yl3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>		
	<servlet-name>Praks1yl1</servlet-name>
    <url-pattern>/Praks1yl1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>		
	<servlet-name>Praks1yl2</servlet-name>
    <url-pattern>/Praks1yl2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>		
	<servlet-name>Praks1yl3</servlet-name>
    <url-pattern>/Praks1yl3</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
      osa2.Osa2yl2
    </listener-class>
  </listener>
</web-app>